body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #333;
    color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #f2f2f2;
}

h2 {
    color: #ccc;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 0;
    list-style: none;
    margin: 0;
}

.navbar a {
    float: none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #444;
    color: #f2f2f2;
}

.navbar a.active {
    background-color: #555;
    color: white;
}

.year-section {
    margin-bottom: 20px;
}

.episode {
    margin-bottom: 10px;
}

.episode h3 {
    margin: 0;
    color: #ccc;
}

.episode p {
    margin: 5px 0;
    color: #ddd;
}

#searchInput {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #444;
    color: #f2f2f2;
    border: 1px solid #555;
}
